$purple-300-color: #d8b4fe;
$purple-500-color: #a855f7;

$gray-200-color: #e5e7eb;

$slate-300-color: #cbd5e1;
$slate-800-color: #1e293b;

$red-500-color: #ef4444;

$yellow-300-color: #fde047;

$lime-400-color: #a3e635;
