@import "variables";

.password-strength-meter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  max-width: 420px;
}

.strength-section {
  height: 12px;
  border-radius: 4px;

  &--gray {
    background-color: $slate-300-color;
  }
  &--red {
    background-color: $red-500-color;
  }
  &--yellow {
    background-color: $yellow-300-color;
  }
  &--green {
    background-color: $lime-400-color;
  }
}
