.password-strength-meter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  max-width: 360px;
}

.strength-section {
  height: 24px;

  &--gray {
    background-color: #9ca3af;
  }
  &--red {
    background-color: #f87171;
  }
  &--yellow {
    background-color: #facc15;
  }
  &--green {
    background-color: #4ade80;
  }
}
